<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.resamsel.watchconvert</string>
		<key>KeepAlive</key>
		<true/>
		<key>LowPriorityIO</key>
		<true/>
		<key>OnDemand</key>
		<false/>
		<key>Nice</key>
		<integer>1</integer>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/resamsel/Applications/bin/watch-convert.sh</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>StandardErrorPath</key>
		<string>/usr/local/var/log/watch-convert.log</string>
	</dict>
</plist>
